.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #09093c ;
    height: 50px;
    padding: 0 40px;
}

.icono{
  width: 50px;
}
  
  .button {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
  }
  
  .button:hover {
    background-color: #2a2a7b;
  }
  
  